In [2]:
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup as BS
import requests

In [4]:
url = 'http://www.imdb.com/chart/top?ref_=nv_mv_250_6'
r = requests.get(url)
#print r.text

In [5]:
soup = BS(r.text, 'html.parser')

In [6]:
print type(soup)

<class 'bs4.BeautifulSoup'>

In [70]:
TITLES = []
RATINGS = []
URLS = []
YEARS = []

DIRECTOR = []
ACTORS = []

In [13]:
divs = soup.find_all('div', {'class' : 'lister'})
print len(divs)

1

In [16]:
div = divs[0]
rows = div.find_all('tr')
print type(rows)
print len(rows)

<class 'bs4.element.ResultSet'>
251

In [71]:
count = 0
for row in rows[1:]:
#     if count>1:
#         break
    #print count, 
    #print row
    count+=1
    title_Column = row.find('td', {'class':'titleColumn'})
    anchor = title_Column.find('a')
    movie_title = anchor.text
    movie_rel_url = anchor['href']
    director = anchor['title'].split(',')[0].split('(')[0]
    actors = ','.join(anchor['title'].split(',')[1:])
    movie_url = 'http://www.imdb.com' + movie_rel_url
    year_data = title_Column.find('span')
    year = year_data.text.split('(')[-1].split(')')[0]
    
    rating_Column = row.find('strong')
    rating = rating_Column.text
    #print movie_title, year, rating, movie_url
    #print '--------------'
    TITLES.append(str(movie_title.encode('utf-8', 'ignore')))
    URLS.append(str(movie_url.encode('utf-8', 'ignore')))
    RATINGS.append(str(rating.encode('utf-8', 'ignore')))
    YEARS.append(year)
    
    ACTORS.append(str(actors.encode('utf-8', 'ignore')))
    DIRECTOR.append(str(director.encode('utf-8', 'ignore')))

In [72]:
print len(TITLES), len(URLS), len(RATINGS), len(YEARS), len(ACTORS), len(DIRECTOR)

250 250 250 250 250 250

In [73]:
init_df = pd.DataFrame({'Title': TITLES, 'URL': URLS, 'Rating': RATINGS, 'Year': YEARS, 'Actors': ACTORS, 'Director': DIRECTOR})
print type(init_df)

<class 'pandas.core.frame.DataFrame'>

In [74]:
pd.set_option('display.max_columns', None)

In [75]:
init_df.head(n=4)

,Actors,Director,Rating,Title,URL,Year
0,"Tim Robbins, Morgan Freeman",Frank Darabont,9.2,The Shawshank Redemption,http://www.imdb.com/title/tt0111161/?pf_rd_m=A...,1994
1,"Marlon Brando, Al Pacino",Francis Ford Coppola,9.2,The Godfather,http://www.imdb.com/title/tt0068646/?pf_rd_m=A...,1972
2,"Al Pacino, Robert De Niro",Francis Ford Coppola,9.0,The Godfather: Part II,http://www.imdb.com/title/tt0071562/?pf_rd_m=A...,1974
3,"Christian Bale, Heath Ledger",Christopher Nolan,9.0,The Dark Knight,http://www.imdb.com/title/tt0468569/?pf_rd_m=A...,2008

In [76]:
init_df.to_csv('./movies_data.csv', columns=['Title', 'URL', 'Year' ,'Rating', 'Actors', 'Director'], header=True, sep=',')

In [77]:
df = pd.read_csv('movies_data.csv')
df.head(n=6)

,Unnamed: 0,Title,URL,Year,Rating,Actors,Director
0,0,The Shawshank Redemption,http://www.imdb.com/title/tt0111161/?pf_rd_m=A...,1994,9.2,"Tim Robbins, Morgan Freeman",Frank Darabont
1,1,The Godfather,http://www.imdb.com/title/tt0068646/?pf_rd_m=A...,1972,9.2,"Marlon Brando, Al Pacino",Francis Ford Coppola
2,2,The Godfather: Part II,http://www.imdb.com/title/tt0071562/?pf_rd_m=A...,1974,9.0,"Al Pacino, Robert De Niro",Francis Ford Coppola
3,3,The Dark Knight,http://www.imdb.com/title/tt0468569/?pf_rd_m=A...,2008,9.0,"Christian Bale, Heath Ledger",Christopher Nolan
4,4,12 Angry Men,http://www.imdb.com/title/tt0050083/?pf_rd_m=A...,1957,8.9,"Henry Fonda, Lee J. Cobb",Sidney Lumet
5,5,Schindler's List,http://www.imdb.com/title/tt0108052/?pf_rd_m=A...,1993,8.9,"Liam Neeson, Ralph Fiennes",Steven Spielberg

In [78]:
dk = df.drop('Unnamed: 0', axis=1)
dk.head(n=2)

,Title,URL,Year,Rating,Actors,Director
0,The Shawshank Redemption,http://www.imdb.com/title/tt0111161/?pf_rd_m=A...,1994,9.2,"Tim Robbins, Morgan Freeman",Frank Darabont
1,The Godfather,http://www.imdb.com/title/tt0068646/?pf_rd_m=A...,1972,9.2,"Marlon Brando, Al Pacino",Francis Ford Coppola

In [84]:
dm = df.reset_index(drop=True)

In [86]:
dm.columns

Index([u'Unnamed: 0', u'Title', u'URL', u'Year', u'Rating', u'Actors',
       u'Director'],
      dtype='object')